<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/mavenproject</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">19111011</property>

        <!-- Hibernate dialect for PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Hibernate settings -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Mapping -->
        <mapping class="com.tut.Student" />
        <mapping class="com.tut.Address" />
        <mapping class="com.map.Question" />
        <mapping class="com.map.Answer" />
        <mapping class="com.manyToMany.Employee" />
        <mapping class="com.manyToMany.ManyToMany" />
        <mapping class="com.manyToMany.Project" />
    </session-factory>
</hibernate-configuration>