<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Archetype Created Web Application</display-name>

    <!-- SaveNoteServlet -->
    <servlet>
        <servlet-name>SaveNoteServlet</servlet-name>
        <servlet-class>com.servlet.SaveNoteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SaveNoteServlet</servlet-name>
        <url-pattern>/SaveNoteServlet</url-pattern>
    </servlet-mapping>

    <!-- DeleteServlet -->
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.servlet.DeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>

    <!-- UpdateServlet -->
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.servlet.UpdateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
</web-app>
